<div class="container-fluid">
  <div class="card">
    <img src="https://assets.pokemon.com/assets/cms2/img/pokedex/detail/001.png" class="card-img-top" alt="Bulbasour">
    <div class="card-body">
      <h6 class="card-subtitle mb-2 text-muted">#001</h6>
      <h5 class="card-title">Bulbasaur</h5>
      <div class="type-container">
        <span class="badge badge-success">Grass</span>
        <span class="badge badge-info">Poison</span>
      </div>
      <div class="button-container">
        <a href="#" class="btn btn-sm btn-primary">See detail</a>
      </div>
    </div>
  </div>
</div>

